<app-sidebar></app-sidebar>

<div id="content" class="p-2 p-md-2">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">Profilo</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <h2 class="mb-4">MOVIES</h2>

    <div class="container d-flex flex-wrap gap-3">
      <mat-card class="example-card" *ngFor="let movie of moviesArray; let index = index">
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path">
        <mat-card-actions>
          <i class="fa fa-heart cursor-pointer"></i> 
        </mat-card-actions>
      </mat-card>
    </div>

</div>